{% extends "base.html" %}
{% block content %}
<div class="register-container">
    <h2>Регистрация</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="username">Никнейм:</label>
        <input type="text" id="username" name="username" placeholder="Никнейм" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
        <label for="confirm_password">Подтвердите пароль:</label>
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Подтвердите пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите</a></p>
</div>
{% endblock %}
